.page-container {
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 10px;

    @media screen and (max-width: 800px) {
        width: 95%;
        padding: 15px;  
        margin: 10px;  
    }
}