.makers-page {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    
    @media screen and (max-width: 800px) {
        width: 98%;
        margin: auto;
        margin-top: 20px;
    }
}