.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;

    @media screen and (max-width: 550px) {
        display: flex;
        flex-direction: column;
    }
}

.flip-card {
    margin: 10px;
    background-color: transparent;
    height: 550px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    perspective: 1000px; 
}
/* This container is needed to position the front and back side */
.flip-card-inner {
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1.5px solid rgb(170, 168, 168);
    cursor: pointer;
    box-sizing: border-box;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 5px;
  border-radius: 5px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(255, 254, 254);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: teal;
  color: white;
  transform: rotateY(180deg);
}

.image {
    width: 85%;
    margin-top: 10px;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.35);

    @media screen and (max-width: 550px) {
        width: 75%;
    }
}
.noBorder {
    border: none;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}

.bright {
    background-color: transparent;
    font-size: smaller;
    line-height: 1.8em;
    text-align: left;
    margin: 0;
    padding: 3px;
    padding-left: 8px;
}
.dark {
    background-color: rgb(204, 202, 202);
    font-size: smaller;
    line-height: 1.8em;
    text-align: left;
    margin: 0;
    padding: 3px;
    padding-left: 8px;
}
.card-title {
    font-size: 1.45em;
    color: rgb(41, 39, 39);
}
.card-car-text {
    width: 90%;
    margin: auto;
    margin-bottom: 12px;
    font-size: 0.8em;
    line-height: 1.3em;
    text-align: justify;
}
.item-name {
    font-size: 1.55em;
}
.price-guide-title {
    font-size: 1.35em;
    font-weight: 900;
}

.price-lines {
    margin: 12px;
    font-size: 1.3em;
}