.header-container {
  height: 70px;
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 5px;

  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    justify-content: center;
  }

  @media screen and (max-width: 550px) {
    display: inline-block;
    margin-bottom: 20px;

  }

  .logo-container {
    height: 100%;
    width: 250px;
    padding: 25px 15px;

    @media screen and (max-width: 800px) {
      width: 70%;
      // border: 1px solid red;
    }

    @media screen and (max-width: 550px) {
      width: 90%;
      margin: auto;
      // border: 1px solid red;
    }
  }

  .options {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 800px) {
      width: 100%;
      margin: auto;
    }
    

    .option {
      padding: 10px 15px;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 1em;

      @media screen and (max-width: 800px) {
       width: 100%;
       font-size: 0.9em;
       text-align: center;
      }
    }
  }
}
