.directory-maker-menu {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, 105px);
  grid-template-rows: repeat(4, 150px);
  justify-content: space-evenly;
  padding: 20px;
  background-color: rgb(224, 222, 222);

  @media screen and (max-width: 700px) {
    padding: 5px;
    gap: 5px; 
  }
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  @media screen and (max-width: 700px) {
    width: 90%; 
  }

}